<div class="container">

       <div class="row">

              <div class="col-md-6">

                     <div class="card">

                            <div class="text-center" style="background-color: gray; color:antiquewhite">
                                   <h1>Signup Area</h1>
                                   <h5>Create Free Account, No Charge</h5>
                            </div>

                            <hr/>

                            <form action="">

                                   <div class="mb-3">
                                          <label for="name" class="form-label">Name</label>
                                          <input type="text" class="form-control" id="name" placeholder="Name" autocomplete="off">
                                   </div>

                                   <div class="mb-3">
                                          <label for="mobile" class="form-label">Mobile</label>
                                          <input type="text" class="form-control" id="mobile" placeholder="Mobile Number" autocomplete="off">
                                   </div>

                                   <div class="mb-3">
                                          <label for="emailID" class="form-label">Email ID</label>
                                          <input type="email" class="form-control" id="emailID" placeholder="Email ID" autocomplete="off">
                                   </div>

                                   <div class="mb-3">
                                          <label for="passWord" class="form-label">Password</label>
                                          <input type="password" class="form-control" id="passWord" placeholder="Password" autocomplete="off">
                                   </div>

                                   <button type="button" class="btn btn-primary text-center">Sign Up</button>

                            </form>

                            <a style="text-decoration: none; cursor: pointer; color: blue; font-weight: bold;" routerLink="/login">Already Account ? Click to Login</a>

                     </div>

              </div>

       </div>

</div>