<div class="container">

       <div class="row">

              <div class="col-md-6">

                     <div class="card">

                            <div class="text-center" style="background-color: gray; color:antiquewhite">
                                   <h1>Admin Area</h1>
                                   <h5>Login to Manage Property</h5>
                            </div>

                            <hr/>

                            <form action="">

                                   <div class="mb-3">
                                          <label for="emailID" class="form-label">Email ID:</label>
                                          <input type="email" class="form-control" id="emailID" placeholder="Email ID" autocomplete="off">
                                   </div>

                                   <div class="mb-3">
                                          <label for="passWord" class="form-label">Password</label>
                                          <input type="password" class="form-control" id="passWord" placeholder="Password" autocomplete="off">
                                   </div>

                                   <button type="button" class="btn btn-primary text-center">Login</button>

                            </form>

                            <a style="text-decoration: none; cursor: pointer; color: blue; font-weight:bold" routerLink="/signup">New User? Click to Signup</a>

                     </div>

              </div>

       </div>

</div>